$def with (args)
    $ user_data = args['users']
    $ devices = args['devices']
    $ licenses = args['licenses']

    $ msg = args['msg']

    $ member_type = ['Admin','User']

    <script>
    function action_for_user(uid, act){
        if (act!='edit'){
        document.getElementById("uid").value=uid
        document.getElementById("act").value=act
        if (confirm('Are you sure you want to ' +act+ ' this user?')) {
                document.getElementById("user-action-form").submit();
            }
        }
        else {
            var url = '/userlist';
            fetch(url, {
                credentials: 'include',
                method: 'post',
                body: '{"uid":'+uid+"}"
            }).then(function(response) {
                    return response.json();
                  })
              .then(function(myJson) {
                 console.log(myJson);
                 console.log(myJson['fname']);
                 document.getElementById('uuid').value = uid;
                 document.getElementById('ufname').value = myJson['fname'];
                 document.getElementById('ulname').value = myJson['lname'];
                 document.getElementById('uemail').value = myJson['name'];
                 document.getElementById('uquota').value = myJson['quota'];
              });
        }
    }
    function returnFunction(val){
        alert("It get called....")
        alert(val)
    }

    function Send_form_data(){
        document.getElementById("add_user_form").action="/register"
        document.getElementById("add_user_form").method="POST"
        return document.getElementById("add_user_form").submit();
    }

    </script>
    <div class="page-wrapper">
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-data__tool">
                                    <div class="table-data__tool-left" id="licenseused">
                                    </div>
                                    <div class="table-data__tool-right">
                                        <button class="au-btn au-btn-icon au-btn--green au-btn--small" data-toggle="modal" data-target="#addUserModal">
                                            <i class="zmdi zmdi-plus"></i>add user</button>
                                        <!--
                                        <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                                            <select class="js-select2" name="type">
                                                <option selected="selected">Actions</option>
                                                <option value="">Some action 1</option>
                                                <option value="">Some action 2</option>
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                        </div>
                                        -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-30">
                            <div class="col-md-12">
                                <!-- DATA TABLE-->
                                <div class="table-responsive m-b-40">
                                    <table class="table table-borderless table-data3">
                                        <thead>
                                            <tr>
                                                <th>Username</th>
                                                <th>role</th>
                                                <th>Quota</th>
                                                <th>Usage</th>
                                                <th>status</th>
                                                <th>actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            $ n = 0
                                            $for i in user_data:
                                              $ n = n+1
                                              <tr>
                                                  $if i.get('isAllowed',False) == False:
                                                    $continue
                                                  <td>$i.get('name',None)</td>
                                                  $if i['type'] is not None:
                                                    $if i['type'] == 'user':
                                                      <td><span class="role member">user</span></td>
                                                    $elif i['type'] == 'admin':
                                                      <td><span class="role admin">admin</span></td>
                                                  $else:
                                                    <td>None</td>
                                                  <td>$i['quota']</td>
                                                  <td>$i['usage']</td>
                                                  $if i.get('activated') is not None:
                                                    $if i['activated'] == 1:
                                                        <td class="Passed">Active</td>
                                                        <td><button class="btn btn-primary btn-sm" onclick="action_for_user( $i.get('id', None), 'edit')"  data-toggle="modal" data-target="#editUserModal">Edit</button>
                                                            <button class="btn btn-primary btn-sm" onclick="action_for_user( $i.get('id', None), 'revoke')"> Revoke</button>

                                                        </td>
                                                    $else:
                                                        <td class="process">Pending</td>
                                                        <td>
                                                        <button class="btn btn-warning btn-sm"  onclick="action_for_user( $i.get('id', None), 'allow')">Allow</button>
                                                        <button class="btn btn-danger btn-sm" onclick="action_for_user( $i.get('id', None), 'delete')">Delete</button>

                                                        </td>
                                                  $else:
                                                    <td>Nope</td>
                                              </tr>

                                        </tbody>
                                        <script>
                                              var lvalueStr = "<b>Licenses used:   "+$n +" / $licenses </b>";
                                              document.getElementById("licenseused").innerHTML = lvalueStr;
                                              </script>
                                    </table>
                                </div>
                                <!-- END DATA TABLE-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <font color="red">$msg</font>
                                    <p>Copyright &copy; 2018. All rights reserved to Simandhar Technologies&copy;.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- Modal div(s) -->
    <!-- Add user modal -->
    <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="/register" method="POST" id="add_user_form">
                    <div class="form-group">
                    <label for="user_fname" class="col-form-label">First Name:</label>
                    <input type="text" class="form-control" id="user_fname" name="fname" required>
                    </div>
                    <div class="form-group">
                        <label for="lname" class="col-form-label">Last Name:</label>
                        <input type="text" class="form-control" name="lname" id="lname">
                    </div>
                    <div class="form-group">
                        <label for="user-email" class="col-form-label">Email:</label>
                        <input type="text" class="form-control" name="name" required id="user-email" >
                    </div>
                    <div class="form-group">
                        <label for="user-password" class="col-form-label">Password:</label>
                        <input type="text" class="form-control" name="password" required id="user-password" >
                    </div>
                      <input type="hidden" value="user" name="utype" required id="user-type"/>
                    <div class="form-group">
                        <label for="user-password" class="col-form-label">Quota:</label>
                        <input type="text" class="form-control" name="quota" required id="quota" >
                    </div>
                    <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" onclick="Send_form_data()">Add User</button>
                    </div>
                    </form>
                </div>
              </div>
            </div>
    </div>
    <!-- Allow user modal -->
    <div class="modal fade" id="allowModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="confirm-modal-body">
                <form method = "POST" action="allowUser">
                Are you sure?<br>
                <label for="user-email" class="col-form-label">Email:</label>
                <input type="text" disabled id="allow-user" name="name" class="form-control">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="returnFunction(uid)">Yes</button>
            </div>
            </form>
            </div>
            </div>
        </div>
    </div>
    <!-- deny user modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="confirm-modal-body">
                    <p id="modal_act"></p><br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" onclick="send_action()")>Yes</button>
                </div>
                </div>
         </div>
    </div>
    <!--edit user modal-->
    <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="/edit" method="POST" id="edit_user_form">
                    <div class="form-group">
                    <label for="user_fname" class="col-form-label">First Name:</label>
                    <input type="text" class="form-control" id="ufname" name="fname" required>
                    </div>
                    <div class="form-group">
                        <label for="lname" class="col-form-label">Last Name:</label>
                        <input type="text" class="form-control" name="lname" id="ulname">
                    </div>
                    <div class="form-group">
                        <label for="user-email" class="col-form-label">Email:</label>
                        <input type="text" class="form-control" name="name" required id="uemail" >
                    </div>
                    <div class="form-group">
                        <label for="user-password" class="col-form-label">Password:</label>
                        <input type="password" class="form-control" name="password" id="upassword" >
                    </div>
                    <div class="form-group">
                        <label for="user-type" class="col-form-label">User Type:</label>
                        <select disabled class="form-control" name="utype" required id="uuser-type">
                            <option value="user" selected>User</option>
                            <option value="admin">Admin</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="user-password" class="col-form-label">Quota:</label>
                        <input type="text" class="form-control" name="quota" required id="uquota" >
                    </div>
                    <input type="text" class="form-control" hidden id="uuid" name="user_id">
                    <input type="text" hidden value="user" name="type">
                    <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" >Update User</button>
                    </div>
                    </form>
                </div>
              </div>
            </div>
    </div>

    <!--User detail form-->
    <form action="adminhome" method="post" id="user-action-form">
    <input type="hidden" id="uid" name="uid" value="0">
    <input type="hidden" id="act" name="act" value="None">
    </form>

