$def with (args)

$ settings = args['settings']

<div class="page-wrapper">
        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-data__tool">
                                <div class="table-data__tool-left">
                                </div>
                                <div class="table-data__tool-right">
                                    <button class="au-btn au-btn-icon au-btn--green au-btn--small" data-toggle="modal" data-target="#addSettingModal" onclick="updatePort()">
                                        <i class="zmdi zmdi-plus"></i>add setting</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-t-30">
                        <div class="col-md-12">
                            <!-- DATA TABLE-->
                            <div class="table-responsive m-b-40">
                                <table class="table table-borderless table-data3">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>IP</th>
                                            <th>Base DN</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        $if len(settings)==0:
                                            Please configure a setting..
                                        $else:
                                            $for i in settings:
                                                <tr>
                                                    <td>$i.get('name',None)</td>
                                                    <td>$i.get('IP','No IP provided')</td>
                                                    $ y = [x.encode('utf-8', 'ignore') for x in i.get('base_dn','No Base DN specified')]
                                                    <td>$i.get('base_dn')</td>
                                                    <td><button class="btn btn-primary btn-sm" onclick="action_settings( '$i.get('name', None)', 'edit')"  data-toggle="modal" data-target="#editSettingModal">Edit</button>
                                                        <button class="btn btn-primary btn-sm" onclick="action_settings( '$i.get('name', None)', 'delete')">Delete</button>
                                                    </td>
                                                </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- END DATA TABLE-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                        <div class="copyright">
                        <p>Copyright &copy; 2018. All rights reserved to SimpleBackup&copy;.</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<!--Add Setting Modal-->
<div class="modal fade" id="addSettingModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document" style="max-width:700px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Setting</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                <form action="/ldap" method="POST" id="add_ldap_setting_form">
                    <input type="text" value="add" name="method" hidden>
                    <div class="row">
                    <div class="col-md-6">
                            <div class="form-group">
                        <label for="displayable_name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="displayable_name" name="name" required>
                    </div>
                            <div class="form-group">
                                <label for="IP" class="col-form-label">AD/LDAP server's IP/FQDN</label>
                                <input type="text" class="form-control" name="IP" id="IP">
                            </div>
                            <div class="form-group">
                                <label for="port" class="col-form-label">Port:</label>
                                <input type="text" class="form-control" name="port" required id="port" >
                            </div>
                            <div class="form-group">
                                <label for="base_dn" class="col-form-label">Base DN(comma seperated):</label>
                                <input type="text" class="form-control" name="base_dn" required id="base_dn" onfocus="get_base_dn()">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                        <label for="login_attrib" class="col-form-label">Login attribute(comma seperated):</label>
                        <input type="text" class="form-control" name="login_attrib" required id="login_attrib" >
                    </div>
                            <div class="form-group">
                                <label for="manager_dn" class="col-form-label">AD/LDAP manager DN:</label>
                                <input type="text" class="form-control" name="manager_dn" required id="manager_dn" >
                            </div>
                            <div class="form-group">
                                <label for="passwd" class="col-form-label">AD/LDAP manager password:</label>
                                <input type="password" class="form-control" name="passwd" required id="passwd" >
                            </div>
                            <div class="form-group">
                                <label for="display_name_attrib" class="col-form-label">Display name attribute:</label>
                                <input type="text" class="form-control" name="display_name_attrib" required id="display_name_attrib" >
                            </div>
                        </div>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="test_connection('add')" id="testbtn">Test</button>
                        <button type="submit" class="btn btn-primary">Add Setting</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<!--Edit Setting Modal-->
<div class="modal fade" id="editSettingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:700px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Setting</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                <form action="/edit" method="POST" id="edit_ldap_setting_form">
                    <input type="text" value="ADsetting" name="type" hidden>
                    <div class="form-group">
                        <label for="displayable_name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="edisplayable_name" name="name" required readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label for="IP" class="col-form-label">AD/LDAP server's IP/FQDN</label>
                        <input type="text" class="form-control" name="IP" id="eIP">
                    </div>

                    <div class="form-group">
                        <label for="port" class="col-form-label">Port:</label>
                        <input type="text" class="form-control" name="port" required id="eport" >
                    </div>
                    <div class="form-group">
                        <label for="base_dn" class="col-form-label">Base DN(comma seperated):</label>
                        <input type="text" class="form-control" name="base_dn" required id="ebase_dn" >
                    </div>
                    <div class="form-group">
                        <label for="login_attrib" class="col-form-label">Login attribute(comma seperated):</label>
                        <input type="text" class="form-control" name="login_attrib" required id="elogin_attrib" >
                    </div>
                    <div class="form-group">
                        <label for="manager_dn" class="col-form-label">AD/LDAP manager DN:</label>
                        <input type="text" class="form-control" name="manager_dn" required id="emanager_dn" >
                    </div>
                    <div class="form-group">
                        <label for="passwd" class="col-form-label">AD/LDAP manager password:</label>
                        <input type="password" class="form-control" name="passwd" id="epasswd" >
                    </div>
                    <div class="form-group">
                        <label for="display_name_attrib" class="col-form-label">Display name attribute:</label>
                        <input type="text" class="form-control" name="display_name_attrib" required id="edisplay_name_attrib" >
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="test_connection('edit')" id="etestbtn">Test</button>
                        <button type="submit" class="btn btn-primary">Update Setting</button>
                    </div>
                </form>
                </div>
        </div>
        </div>
    </div>
</div>

<script>
    function action_settings(name, actiontype) {
    if(actiontype == 'edit') {
        document.getElementById('edisplayable_name').value=name;
        name.replace(' ','%20s');
        fetch('/ldap?name='+name,{credentials: 'include'})
        .then(function(response){
        return response.json();
        })
        .then(function(myJson){
        document.getElementById('eport').value = myJson['port'];
        document.getElementById('eIP').value = myJson['IP'];
        document.getElementById('ebase_dn').value= myJson['base_dn'];
        document.getElementById('elogin_attrib').value= myJson['attribs']['login_attrib'];
        document.getElementById('emanager_dn').value= myJson['manager_dn'];
        document.getElementById('edisplay_name_attrib').value= myJson['attribs']['display_name_attrib'];
        });
    }
    else if(actiontype == 'delete') {
        fetch('/ldap',{
            credentials: 'include',
                method: 'post',
                body: '{"name" :" '+name+'", "method": "del"}'
        }).then(function(response){
        location.reload()});
    }
}

function updatePort() {
document.getElementById('port').value=389
}

function get_base_dn() {
    var ip = document.getElementById('IP').value;
    var port = document.getElementById('port').value;
    fetch('/basedn?ip='+ip+'&port='+port, {credentials: 'include'})
    .then(function(response){
        return response.json();
    }).then(function(myJson){
        document.getElementById('base_dn').value= myJson['base_dn'];
        });
}

function test_connection(mode) {
    if (mode == 'add'){
        document.getElementById('testbtn').disabled = true;
        var body = {
            "ip":  document.getElementById('IP').value,
            "port": document.getElementById('port').value,
            "username": document.getElementById('manager_dn').value,
            "password": document.getElementById('passwd').value
        }
    }
    else{
        document.getElementById('etestbtn').disabled = true;
         var body = {
            "ip":  document.getElementById('eIP').value,
            "port": document.getElementById('eport').value,
            "username": document.getElementById('emanager_dn').value,
            "password": document.getElementById('epasswd').value
        }
    }
    fetch('/basedn',{
            credentials: 'include',
                method: 'post',
                body: JSON.stringify(body)
        })
    .then(function(response){
        return response.json();
    })
    .then(function(myJson){
        if(myJson['status'])
            swal("Status", "Connection established successfully", "success");
        else
            swal("Status", "Connection could not be established. Please check details", "error");
        document.getElementById('etestbtn').disabled = false;
        document.getElementById('testbtn').disabled = false;
    });

}
</script>