$def with (args)
    $ backup = args['backup']
    $ msg = args['msg']
    $ users = args['users']
    $ backup_type = {'user':"User",'group':"Group","aws":"AWS","nfs":"NFS Share"}

    <script>
    function do_action_custom(id, act) {
        if (act!='edit') {
            document.getElementById("iD").value=id
            document.getElementById("backup_options").value=act
            document.getElementById('backup_form').submit();
        }
        else {
        console.log('Here!!');
        var idd = id;
        document.getElementById('backup_id').value=id;
                fetch('/infoBackup', {
                    credentials: 'include',
                    method: 'POST',
                    headers: {
                         'Accept': 'application/json',
                         'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({id:idd})
                })
                .then(function(response) {
                    return response.json();
                  })
              	.then(function(myJson) {
                 console.log(myJson);
                 if(myJson['settings']['type'] == "group") {
                        document.getElementById("ebackup_type").value = 'group';
                    }
                 else {
                        document.getElementById("ebackup_type").value = 'user';
                    }
                    document.getElementById("ebackup_type").disabled = true;
                    document.getElementById("ebackup_options_id").innerHTML = get_input_tag('Group Name', 'egrp')+\
                                                                        get_input_tag('Folder to backup', 'eparam')+\
                                                                        get_input_tag('Subfolders to skip', 'eskip')
                    document.getElementById("egrp").value = myJson['ato'];
                    document.getElementById("egrp").disabled = true;
                    document.getElementById("eparam").value = myJson['settings']['folder'];
                    document.getElementById("eskip").value = myJson['settings']['skip'];
                    document.getElementById("etimers").hidden=false;
                    document.getElementById("estrt").value = myJson['timers']['start']
                    document.getElementById("eendt").value = myJson['timers']['end']
                 });
        }
    }; //function end
    </script>

    <div class="page-wrapper" id="page-wrapper">
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-data__tool">
                                    <div class="table-data__tool-left">
                                        <div class="rs-select2--light rs-select2--md">
                                            <div class="dropDownSelect2"></div>
                                        </div>
                                    </div>
                                    <div class="table-data__tool-right">
                                        <button class="au-btn au-btn-icon au-btn--green au-btn--small" data-toggle="modal" data-target="#addbackupModal">
                                            <i class="zmdi zmdi-plus"></i>Add backup</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-30">
                            <div class="col-md-12">
                                <!-- DATA TABLE-->
                                <div class="table-responsive m-b-40">
                                <table class="table table-borderless table-data3">
                                    <thead>
                                        <tr>
                                            <th>Applied to</th>
                                            <th>Name</th>
                                            <th>Backup Location</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        $if len(backup)==0:
                                            Please configure one...
                                        $else:
                                            $for uu in backup:
                                                <tr>
                                                $ bkpDict = backup[uu]
                                                <td>$bkpDict['settings']['type']</td>
                                                $if bkpDict['settings']['type'] == 'user':
                                                    $for aUser in users:
                                                        $if int(aUser['id'])==int(bkpDict['ato']):
                                                            <td>$aUser['name']</td>
                                                $else:
                                                    <td>$bkpDict['ato']</td>
                                                <td>$bkpDict['settings']['folder']</td>
                                                <td>$bkpDict['stat']</td>
                                                <td>
                                                    <div class="button-group">
                                                $if  bkpDict['stat'] != "active":
                                                    <button class="btn btn-primary btn-sm" onclick="do_action_custom($bkpDict['_id'], 'active')">Activate</button>
                                                    <button class="btn btn-secondary btn-sm" onclick="do_action_custom($bkpDict['_id'], 'removed')">Delete</button>
                                                $else:
                                                    <button class="btn btn-secondary btn-sm" onclick="do_action_custom($bkpDict['_id'], 'edit')" data-toggle="modal" data-target="#editbackupModal">Edit</button>
                                                    <button class="btn btn-secondary btn-sm" onclick="do_action_custom($bkpDict['_id'], 'inactive')">De-activate</button>
                                                    <button class="btn btn-secondary btn-sm" onclick="do_action_custom($bkpDict['_id'], 'removed')">Delete</button>
                                                    </div>
                                                </td>
                                                </tr>
                                    </tbody>
                                </table>
                           </div>
                       </div>
                  </div>
                        <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                            <p>Copyright &copy; 2018. All rights reserved to SimpleBackup&copy;.</p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
<script src="/static/vendor/jquery-3.2.1.min.js"></script>
<script src="/static/vendor/select2/select2.min.js"></script>


 <!-- Add backup modal -->
<div class="modal fade" id="addbackupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add backup</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form name="backup" id="backup" action="backup" method="post">
                    <div class="form-group">
                    <label for="backup_type" class="col-form-label">Type:</label>
                    $ unames = []
                    $for auser in users:
                        $unames.append({'id':auser['id'], 'name':auser['name']})
                    <select class="col-form-select" name="backup_options" id="backup_type" onchange="backup_opts($unames)">
                        <option value="select_one" selected="selected">Select one</option>
                        <option value="user">User</option>
                        <option value="group">Group</option>
                    </select>
                    </div>
                    <p id="backup_options_id">

                    </p>
                    <div class="form-group" id="seltype" hidden>
                        <input type="text" name="filters" hidden id="filters"/>
                        <label for="s2" class="col-form-label">File types to backup:</label>
                        <select class="js-example-basic-multiple" multiple="multiple" id="s2">
                          <option value="audio">Audio files</option>
                        <option value="office">MS Office files</option>
                        </select>
                    </div>
                    <div class="form-group" id="timers" hidden>
                        <label for="strt" class="col-form-label">Enter start time:</label>
                        <input type="time" id="strt" name="strt" value="08:00"><br>
                        <label for="endt" class="col-form-label">Enter end time:</label>
                        <input type="time" id="endt" name="endt" value="23:00">
                    </div>
                    <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" name="new_backup" id="new_backup" disabled=true class="btn btn-primary " onclick="add_storage();">Add backup</button>
                    </div>
                    </form>
                </div>
              </div>
            </div>
    </div>

 <!-- Edit backup modal -->
<div class="modal fade" id="editbackupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Edit Backup Settings</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form name="backup_edit" id="backup_edit" action="edit" method="post">
                    <input type="hidden" name="backup_id" id="backup_id">
                    <input type="text" value="backup" name="type" hidden>
                    <div class="form-group">
                    <label for="backup_type" class="col-form-label">Type:</label>
                    $ unames = []
                    $for auser in users:
                        $unames.append({'id':auser['id'], 'name':auser['name']})
                    <select class="col-form-select" name="ebackup_options" id="ebackup_type">
                        <option value="select_one" selected="selected">Select one</option>
                        <option value="user">User</option>
                        <option value="group">Group</option>
                    </select>
                    </div>
                    <p id="ebackup_options_id">

                    </p>
                    <div class="form-group" id="seltype" hidden>
                        <input type="text" name="filters" hidden id="filters"/>
                        <label for="s2" class="col-form-label">File types to backup:</label>
                        <select class="js-example-basic-multiple" multiple="multiple" id="s2">
                          <option value="audio">Audio files</option>
                        <option value="office">MS Office files</option>
                        </select>
                    </div>
                    <div class="form-group" id="etimers" hidden>
                        <label for="estrt" class="col-form-label">Enter start time:</label>
                        <input type="time" id="estrt" name="estrt" value="08:00"><br>
                        <label for="eendt" class="col-form-label">Enter end time:</label>
                        <input type="time" id="eendt" name="eendt" value="23:00">
                    </div>
                    <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary ">Update</button>
                    </div>
                    </form>
                </div>
              </div>
            </div>
    </div>

<script>

    function backup_opts(usr_lst) {
        var x = document.getElementById("backup_type").value;
        if(x == 'user'){
            var y = get_input_list('Users ', usr_lst)
            document.getElementById("backup_options_id").innerHTML = y+get_input_tag('Folder to backup', 'param')+\
                                                                        get_input_tag('Subfolders to skip', 'skip')
            document.getElementById("new_backup").disabled=false;
            document.getElementById("timers").hidden=false;
            document.getElementById('param').required=true;
        }
        if(x == 'group'){
            document.getElementById("backup_options_id").innerHTML = get_input_tag('Group Name', 'grp')+\
                                                                        get_input_tag('Folder to backup', 'param')+\
                                                                        get_input_tag('Subfolders to skip', 'skip')

            document.getElementById("new_backup").disabled=false;
            document.getElementById("timers").hidden=false;
            document.getElementById('param').required=true;
        }
        if(x == 'select_one'){
            document.getElementById("backup_options_id").innerHTML = ""
            document.getElementById("new_backup").disabled=true;
            document.getElementById('seltype').hidden=true;
            document.getElementById('timers').hidden=true;
            document.getElementById('param').hidden=true;
        }
        if(x == 'edit') {
        }
        jQuery('#s2').select2({
            tags: true
        });
        document.getElementById('seltype').hidden=false;

    }
</script>

<form id="backup_form" name="backup_form" action="backup" method="post">
<input type="hidden" value="0" name="iD" id="iD">
<input type="hidden" name="backup_options" id="backup_options" value="unknown">
</form>
