$def with (backup, uid)
    $ unames = []
    $ users = []
    $ backup_type = {'user':"User",'group':"Group","aws":"AWS","nfs":"NFS Share"}

    <script>
        function do_action_custom(id, act) {
            console.log(id+'..'+act);
            document.getElementById("iD").value=id;
            document.getElementById("backup_options").value=act;
            document.getElementById('backup_cli_form').submit();
        };
    </script>

    <div class="page-wrapper">
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-data__tool">
                                    <div class="table-data__tool-left">
                                        <div class="rs-select2--light rs-select2--md">
                                            <div class="dropDownSelect2"></div>
                                        </div>
                                    </div>
                                    <div class="table-data__tool-right">
                                        <button class="au-btn au-btn-icon au-btn--green au-btn--small" data-toggle="modal" data-target="#addbackupModal">
                                            <i class="zmdi zmdi-plus"></i>add backup</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row m-t-30">
                            <div class="col-md-12">
                                <!-- DATA TABLE-->
                                <div class="table-responsive m-b-40">
                                <table class="table table-borderless table-data3">
                                    <thead>
                                        <tr>
                                            <th>Applied to</th>
                                            <th>Backup Location</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        $if len(backup)==0:
                                            Please configure one...
                                        $else:
                                            $for uu in backup:
                                                <tr>
                                                $ bkpDict = backup[uu]
                                                <td>$backup_type[bkpDict['settings']['type']]</td>
                                                $if backup_type[bkpDict['settings']['type']] == 'User':
                                                    <td>$bkpDict['settings']['folder']</td>
                                                $elif backup_type[bkpDict['settings']['type']] == 'Group':
                                                    <td>$bkpDict['settings']['folder']</td>
                                                $else:
                                                    <td>$backup_type[bkpDict['settings']]</td>
                                                <td>$bkpDict['stat']</td>
                                                <td>
                                                    <button class="btn btn-secondary btn-sm" onclick="do_action_custom($bkpDict['_id'], 'removed')">Delete</button>
                                                </td>
                                                </tr>
                                    </tbody>
                                </table>
                           </div>
                       </div>
                  </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright &copy; 2018. All rights reserved to SimpleBackup&copy;.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>


 <!-- Add backup modal -->
    <div class="modal fade" id="addbackupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add backup</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                    <form name="backup" id="backup" action="backup" method="post" onfocus="abcd()">
                        <input type="hidden" id="user_list_select" value=$uid>

                 <div class="form-group">
                    <label for="user-fname" class="col-form-label">Location:</label>
                    <input type="text" class="form-control" id="param" name="param">
                  </div>
                  <div class="form-group" id="seltype">
                        <input type="text" name="filters" hidden id="filters"/>
                        <label for="s2" class="col-form-label">File types to backup:</label>
                        <select class="js-example-basic-multiple" multiple="multiple" id="s2">
                          <option value="audio">Audio files</option>
                        <option value="office">MS Office files</option>
                        </select>
                    </div>
                    <div class="form-group" id="timers">
                        <label for="strt" class="col-form-label">Enter start time:</label>
                        <input type="time" id="strt" name="strt" value="23:00"><br>
                        <label for="endt" class="col-form-label">Enter end time:</label>
                        <input type="time" id="endt" name="endt" value="08:00">
                    </div>
                  <div class="form-group">
                    <label for="user-fname" class="col-form-label">Folders to skip:</label>
                    <input type="text" class="form-control" id="skip" name="skip">
                  </div>
                    <div class="modal-footer">
                            <input type="hidden" name="backup_options" value="user">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" name="new_backup" id="new_backup" class="btn btn-primary">Add backup</button>
                    </div>
                    </form>
                </div>
              </div>
            </div>
    </div>

<script>

    function backup_opts() {
        var x = document.getElementById("backup_type").value;
        if(x == 'user'){
            var y = get_input_list('Users', usr_lst)
            document.getElementById("backup_options_id").innerHTML = y+get_input_tag('Location', 'param')
            document.getElementById("new_backup").disabled=false;
        }
        if(x == 'group'){
            document.getElementById("backup_options_id").innerHTML = get_input_tag('Key', 'param')+get_input_tag('Secret','secret');
            document.getElementById("new_backup").disabled=false;
        }
        if(x == 'select_one'){
            document.getElementById("backup_options_id").innerHTML = ""
            document.getElementById("new_backup").disabled=true;
        }
    }

</script>

<form id="backup_cli_form" name="backup_cli_form" action="backup" method="post">
    <input type="hidden" value="0" name="iD" id="iD">
    <input type="hidden" name="backup_options" id="backup_options">
</form>
