$def with (devices, msg)

    <!--
    <script>
    function do_action_custom(id, act) {
        //alert("ID for action"+String(id))
        //alert("Action ="+act)
        document.getElementById("iD").value=id
        document.getElementById("devices_options").value=act
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
              document.getElementById("main-content").innerHTML =
              this.responseText;
            }
		};
        xhttp.open("POST", "/devices", true);
        xhttp.send();
    }; //function end
    </script>
    -->
    <div class="page-wrapper" id="page-wrapper">
            <!-- HEADER DESKTOP-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-data__tool">
                                    <div class="table-data__tool-left">
                                        <div class="rs-select2--light rs-select2--md">
                                            <div class="dropDownSelect2"></div>
                                        </div>
                                    </div>
                                    <!--
                                    <div class="table-data__tool-right">
                                        <button class="au-btn au-btn-icon au-btn--green au-btn--small" data-toggle="modal" data-target="#adddevicesModal">
                                            <i class="zmdi zmdi-plus"></i>add Device</button>
                                    </div>
                                    -->
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-30">
                            <div class="col-md-12">
                                <!-- DATA TABLE-->
                                <div class="table-responsive m-b-40">
                                <table class="table table-borderless table-data3">
                                    <thead>
                                        <tr>
                                            <th>User Name</th>
                                            <th>Device Name</th>
                                            <th>Data Size</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        $if len(devices)==0:
                                            Let user login once...
                                        $else:
                                            <form action="devices" method="post">
                                                <input type="hidden" value="0" name="iD" id="iD">
                                                <input type="hidden" name="devices_options" id="devices_options" value="unknown">
                                            $for devDict in devices:
                                                <tr>
                                                <td>$devDict['username']</td>
                                                <td>$devDict['devicename']</td>
                                                <td>$devDict['datasize']</td>
                                                <td><button class="btn btn-primary btn-sm" onclick="do_action_custom($devDict['_id'])">Change Owner</button></td>
                                                </tr>
                                            </form>
                                    </tbody>
                                </table>
                           </div>
                       </div>
                  </div>
                        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p><font color="red">$msg</font></p>
                    <p>Copyright &copy; 2018. All rights reserved to SimpleBackup&copy;.</p>
                </div>
            </div>
        </div>
                    </div>
                </div>
            </div>
    </div>

<script>

    function devices_opts(usr_lst) {
        var x = document.getElementById("devices_type").value;
        if(x == 'user'){
            var y = get_input_list('Users', usr_lst)
            document.getElementById("devices_options_id").innerHTML = y+get_input_tag('Location', 'param')
            document.getElementById("new_devices").disabled=false;
        }
        if(x == 'group'){
            document.getElementById("devices_options_id").innerHTML = get_input_tag('Key', 'param')+get_input_tag('Secret','secret');
            document.getElementById("new_devices").disabled=false;
        }
        if(x == 'select_one'){
            document.getElementById("devices_options_id").innerHTML = ""
            document.getElementById("new_devices").disabled=true;
        }
    }

</script>