$def with (names_and_status)
    <script>
    function remove_download(zip_name) {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          document.getElementById("mainSection").innerHTML =
          this.responseText;
        }
      };
      xhttp.open("GET", "/download/remove/"+zip_name, true);
      xhttp.send();
    }
    </script>
    <div class="page-wrapper" id="top_levele">
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row m-t-30">
                        <div class="col-md-12">
                            <!-- DATA TABLE-->
                            $if names_and_status:
                                <div class="table-responsive m-b-40">
                                <table class="table table-borderless table-data3">
                                    <thead>
                                        <tr>
                                            <th>Download Target</th>
                                            <th>Status</th>
                                            <th>Total Files to download</th>
                                            <th>Files downloaded so far</th>
                                            <th>Download Link</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    $for f in names_and_status:
                                        <tr>
                                            <td>$f[0]</td>
                                            <td>$f[1]</td>
                                            <td>$f[2]</td>
                                            <td>$f[3]</td>
                                            <td><script>
                                                if ($f[4] != undefined){
                                                    <a href="/download/cached/"+$f[4]>Download</a>
                                                }
                                                else{
                                                    <b>-</b>
                                                }
                                                </script>
                                            </td>
                                            <td><script>
                                                if ($f[4] != undefined){
                                                    <button type="button" onclick="remove_download($f[4])">Remove</button>
                                                }
                                                else{
                                                    <b>Wait...&nbsp;</b>
                                                }
                                                </script>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                            $else:
                                <em>No downloads scheduled yet!!</em>
                                <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright" align="bottom">
                                <p>Copyright &copy; 2019. All rights reserved to Simandhar Technologies&copy;.</p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>