$def with (filepath)
    $if (filepath):
        $filepath uploaded successfully
    <div class="page-wrapper">
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                            </div>
                        </div>
                        <div class="row m-t-30">
                            <div class="col-md-12">
                                <!-- DATA TABLE-->
                                <div class="table-responsive m-b-40">
                                <table class="table table-borderless table-data3">
                                    <thead>
                                        <tr>
                                            <th>Upload Files</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                     <tr>
                                         <form id="myForm" method="post" enctype="multipart/form-data">
                                             <td><input type="file" id="files" name="files"></td>
                                             <td><input type="submit" value="   Upload   "></td>
                                         </form>
                                     </tr>
                                    </tbody>
                                </table>
                           </div>
                       </div>
                  </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright &copy; 2018. All rights reserved to SimpleBackup&copy;.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

