$def with (parent, files)
    $code:
        if parent != '/':
            parent_of_parent = parent.rsplit('/', 1)[0]
            last_part_of_parent = parent.rsplit('/', 1)[1]
        else:
            parent_of_parent = '/'
            last_part_of_parent = '/'

    <script>
    function do_download(filename)
    {
        var link = document.createElement("a");
        debugger;
        only_filename = filename.split(/\/download\/(.+)/)
        alert("Downloading: "+only_filename[1]);
        link.download = only_filename[1];
        link.href = filename;
        alert(link.href);
        link.click();
    }
    </script>

    <div class="page-wrapper">
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <table><tr><td><a href="/userhome">HOME</a></td><td>&nbsp;|&nbsp;</td><td> <a class='table-responsive' href="/filelist/$parent_of_parent">$''.join(parent_of_parent.split('/', 1))</a></td><td>&nbsp;|&nbsp;</td><td> $last_part_of_parent </td></tr></table></div>
                        </div>
                    <div class="row m-t-30">
                        <div class="col-md-12">
                            <!-- DATA TABLE-->
                            <div class="table-responsive m-b-40">
                            <table class="table table-borderless table-data3">
                                <thead>
                                    <tr>
                                        <th>Files/Folders</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                $for f in files:
                                    <tr>
                                    $if '?' in f[0]:
                                        $ url_to_file = f[0].split('?')[0]
                                        $ name_of_file = f[0].split('?')[1]

                                        <td><a href=$url_to_file>$''.join(name_of_file.split('/', 1))</a> </td><td>&nbsp;</td>
                                    $else:
                                        <td> <a href="/filelist/$parent$f[0]"> $''.join(f[0].split('/', 1)) </a></td>
                                        <td><form method="get" action='/download/$f[1]'>
                                            <button  class="btn btn-primary btn-sm" type="submit">Download</button>
                                            </form></td>
                                    </tr>
                                </tbody>
                            </table>
                       </div>
                   </div>
              </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright &copy; 2018. All rights reserved to SimpleBackup&copy;.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
