$def with (args)
    $ users = args['users']
    $ groups = args['groups']
    $ ldap_settings = args['settings']

    <div class="page-wrapper">
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-data__tool">
                                    <div class="table-data__tool-left">
                                    </div>
                                    <div class="table-data__tool-right">
                                        <button class="au-btn au-btn-icon au-btn--green au-btn--small" data-toggle="modal" data-target="#importGroupModal" onclick="populate_settings();">
                                            <i class="zmdi zmdi-plus"></i>Import group</button>
                                        <button class="au-btn au-btn-icon au-btn--green au-btn--small" data-toggle="modal" data-target="#addGroupModal">
                                            <i class="zmdi zmdi-plus"></i>Create group</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-30">
                            <div class="col-md-12">
                                <!-- DATA TABLE-->
                                <div class="table-responsive m-b-40">
                                    <table class="table table-borderless table-data3">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            $for i in groups:
                                                <tr>
                                                    <td>$i.get('name','None')</td>
                                                    <td>
                                                        <button class="btn btn-primary btn-sm" onclick="getMembers($i['gid'], '$i['name']')"  data-toggle="modal" data-target="#editGroupModal">Edit</button>
                                                        $if i.get('gid')!= 0:
                                                            <button class="btn btn-primary btn-sm" onclick="deleteGroup($i['gid'], '$i['name']')">Delete</button>
                                                    </td>
                                                </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- END DATA TABLE-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                <p>Copyright &copy; 2018. All rights reserved to SimpleBackup&copy;.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <!-- Modal div(s) -->
    <!--Add group modal-->
    <div class="modal fade" id="addGroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add Group</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="/groups" method="POST" id="add_group_form">
                    <div class="form-group">
                        <label for="gname" class="col-form-label">Enter a name:</label>
                        <input type="text" class="form-control" name="gname" id="gname" required="required">
                    </div>
                    <div class="form-group">
                        <input type="text" name="userlist" hidden id="userlist"/>
                        <input type="text" name="mode" hidden id="mode"/>
                        <label for="s2" class="col-form-label">Select Users:</label>
                        <select class="js-example-basic-multiple" multiple="multiple" id="s2">
                          $for i in users:
                            <option value="$i['id']">$i['name']</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" onclick="touchOptions('s2');">Create Group</button>
                    </div>
                      <input type="hidden" id="action" name="action" value="add">
                    </form>
                </div>
              </div>
            </div>
    </div>

    <!--Import group modal-->
    <div class="modal fade" id="importGroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add Group</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="/groups" method="POST" id="import_group_form">
                    <div class="form-group">
                        <label for="gname" class="col-form-label">Enter a name:</label>
                        <input type="text" class="form-control" name="gname" id="gname" required="required" onchange="validateGrpName()">
                    </div>
                    <div class="form-group">
                        <label for="s2" class="col-form-label" id="droplabel">Select Setting:</label><br>
                        <select class="col-form-select" id="ldapsetting">
                          $for i in ldap_settings:
                            <option value="$i['name']">$i['name']</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="get_group_list();document.body.style.cursor='wait'; return true;" id="importbtn">Get Group List</button>
                    </div>
                    </form>
                </div>
              </div>
            </div>
    </div>


    <!--Edit group modal-->
    <div class="modal fade" id="editGroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Edit Group</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="/edit" method="POST" id="edit_group_form">
                    <input type="text" value="group" name="type" hidden>
                    <input type="text" name="gid" hidden id="gid">
                    <div class="form-group">
                        <label for="egname" class="col-form-label">Enter a name:</label>
                        <input type="text" class="form-control" name="gname" id="egname" required="required">
                    </div>
                    <div class="form-group">
                        <input type="text" name="userlist" hidden id="euserlist"/>
                        <label for="s3" class="col-form-label">Select Users:</label>
                        <select class="js-example-basic-multiple" multiple="multiple" id="s3">
                        </select>
                    </div>
                    <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" onclick="touchOptions('s3');">Update Group</button>
                    </div>
                    </form>
                </div>
              </div>
            </div>
    </div>


    <script src="/static/vendor/jquery-3.2.1.min.js"></script>
    <script src="/static/vendor/select2/select2.min.js"></script>
    <script>
       jQuery('#s2').select2();

       function touchOptions(sid) {
        if (sid == 's2'){
            var x = jQuery('#s2').find(':selected');
            var y = '';
            for(i=0;i<x.length;i++){
                y+=x[i]['value']+',';
            }
            document.getElementById('userlist').value = y;
            document.getElementById('mode').value = 'internal';
        }
        else{
            var x = jQuery('#s3').find(':selected');
            var y = '';
            for(i=0;i<x.length;i++){
                y+=x[i]['value']+',';
            }
            document.getElementById('euserlist').value = y;
        }
       }

       function getMembers(gid, name){
       document.getElementById('s3').innerHTML = "";
       document.getElementById('gid').value = gid;
       document.getElementById('egname').value = name;
       fetch('/groups?gid='+gid,{
        credentials: 'include'
       }).then(function(response){
        return response.json();
        }).then(function(myJson){
            for(i=0;i<myJson.length;i++){
                if (myJson[i]['selected'])
                    document.getElementById('s3').innerHTML += '<option value="'+myJson[i]['id']+'" selected="selected">'+myJson[i]['name']+'</option>';
                else
                    document.getElementById('s3').innerHTML += '<option value="' +myJson[i]['id']+ '">' +myJson[i]['name']+ '</option>';
            }
            jQuery('#s3').select2();
        });
       }

       function deleteGroup(gid, name){
           if(confirm("Are you sure you want to delete the group: "+name+"?")){
                fetch('/groups?action=del&gid='+gid,{
                method: 'POST',
                credentials: 'include'
            }).then(function(response){
                location.reload();
            });
           }
       }

       function get_group_list(){
        var name = document.getElementById('ldapsetting').value;
        document.getElementById('importbtn').disabled = true;
        fetch('/import?name='+name,{
                credentials: 'include'
            }).then(function(response){
                document.body.style.cursor='default';
                document.getElementById('importbtn').disabled = false;
                console.log(response);
                return response.json();
            }).then(function(myJson){
                if (myJson['list'].length > 0){
                $$('#ldapsetting').empty();
                var select = document.getElementById('ldapsetting');
                document.getElementById('droplabel').innerHTML = 'Select Group to Import';
                document.getElementById('importbtn').innerHTML = 'Import group';
                $$("#importbtn").click(function() {
                 import_group(document.getElementById('ldapsetting').value);
                });
                for(var i in myJson['list']){
                       var opt = document.createElement('option');
                       opt.value = i;
                       opt.innerHTML = i;
                       select.appendChild(opt);
                }
            }
            else
                swal("Status", "Error in getting Group list.", "error");
            });
       }

       function populate_settings() {
        $$('#ldapsetting').empty();
        var select = document.getElementById('ldapsetting');
        document.getElementById('droplabel').innerHTML = 'Select a Setting';
        $for i in ldap_settings:
            var opt = document.createElement('option');
            opt.value = '$i['name']';
            opt.innerHTML = '$i['name']';
            select.appendChild(opt);
       }

       function import_group(name) {
        alert(name);
       }
    </script>