$def with (eror)
  $if eror:
      <h1>$eror</h1>


<link rel="stylesheet" href="/static/css/style.css">
<div class="form" class="login-content">
    <ul class="tab-group">
      <li class="tab active"><a href="#login">Log In</a></li>
      <li class="tab"><a href="#signup">Sign Up</a></li>

    </ul>
    <div class="tab-content">
      <div id="login">
        <h1>Welcome Back!</h1>

        <form  action="login" method="post">

          <div class="field-wrap">
          <label>
            Email Address<span class="req">*</span>
          </label>
          <input type="text" name="name" required autocomplete="off" style="width: 100%"/>
        </div>

        <div class="field-wrap">
          <label>
            Password<span class="req">*</span>
          </label>
          <input type="password" name="password" required autocomplete="off" style="width: 100%"/>
        </div>

        <p class="forgot"><a href="#">Forgot Password?</a></p>

        <button class="button button-block"/>Log In</button>

        </form>

      </div>
      <div id="signup">
        <h1>Sign Up</h1>

        <form method="post" action="register">

        <div class="top-row">
          <div class="field-wrap">
            <label>
              First Name<span class="req">*</span>
            </label>
            <input type="text" name="fname" required autocomplete="off" />
          </div>

          <div class="field-wrap">
            <label>
              Last Name<span class="req">*</span>
            </label>
            <input type="text" name="lname" required autocomplete="off"/>
          </div>
        </div>

        <div class="field-wrap">
          <label>
            Email Address<span class="req">*</span>
          </label>
          <input type="email" name="name" required autocomplete="off"/>
        </div>

        <div class="field-wrap">
          <label>
            Set A Password<span class="req">*</span>
          </label>
          <input type="password" name="password" required autocomplete="off"/>
        </div>

        <button type="submit" class="button button-block"/>Get Started</button>

        </form>

      </div>



    </div><!-- tab-content -->
</div>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script  src="static/js/index.js"></script>

