$def with (args)
    $ storage = args['storage']
    $ msg = args['msg']
    $ storage_type = {'cifs':"Windows/Samba/Cifs/NAS Share",'disk':"Local Disk","aws":"AWS","nfs":"NFS Share"}

    <div class="page-wrapper" id="page-wrapper">
        <div class="page-container">
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row m-t-30">
                            <div class="col-md-12">
                                <!-- DATA TABLE-->
                                <div class="table-responsive m-b-40">
                                <table class="table table-borderless table-data3">
                                    <thead>
                                        <tr>
                                            <th>From</th>
                                            <th>To</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    $if len(storage)==0:
                                        Please configure one...
                                    $else:
                                        <form action="migrateStorage" method="post" id="main_form">
                                        <tr>
                                            <td>
                                            <select name="fram">
                                            $for uu in storage:
                                                $ storDict = storage[uu]
                                                $if storage_type[storDict['settings']['type']] == 'Local Disk':
                                                    <OPTION value="$storDict['_id']">$storDict['settings']['folder']</OPTION>
                                                $elif storage_type[storDict['settings']['type']] == 'AWS':
                                                    <OPTION value="$storDict['_id']">$storDict['settings']['key']</OPTION>
                                                $else:
                                                    <OPTION value="$storDict['_id']">$storDict['settings']['sharename']</OPTION>
                                            </select>
                                            </td>
                                            <td>
                                            <select name="to">
                                            $for uu in storage:
                                                $ storDict = storage[uu]
                                                $if storage_type[storDict['settings']['type']] == 'Local Disk':
                                                    <OPTION value="$storDict['_id']">$storDict['settings']['folder']</OPTION>
                                                $elif storage_type[storDict['settings']['type']] == 'AWS':
                                                    <OPTION value="$storDict['_id']">$storDict['settings']['key']</OPTION>
                                                $else:
                                                    <OPTION value="$storDict['_id']">$storDict['settings']['sharename']</OPTION>
                                            </select>
                                            </td>
                                            <td>
                                            <button type="submit" class="btn btn-primary">Migrate</button>
                                            </td>
                                        </tr>
                                        </form>
                                    </tbody>
                                </table>
                           </div>
                       </div>
                  </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="col-md-12">
        <div class="copyright">
        <p><font color="red">$msg</font></p>
        <p>Copyright &copy; 2018. All rights reserved to SimpleBackup&copy;.</p>
        </div>
    </div>