$def with (args)
    $ reports = args['reports']
    $ msg = args['msg']
    $ users = args['users']
    $ unames = []
    $ users = []
    $ reports_type = {'user':"User",'group':"Group","aws":"AWS","nfs":"NFS Share"}

    <script>
        debugger;
        alert($reports)
        function do_action_custom(id, act) {
            alert("ID for action"+String(uid))
            alert("Action ="+act)
            document.getElementById("iD").value=id
            document.getElementById("reports_options").value=act
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                  document.getElementById("main-content").innerHTML =
                  this.responseText;
                }
            };
            xhttp.open("POST", "/reports", true);
            xhttp.send();
        }; //function end
    </script>

    <div class="page-wrapper">
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-data__tool">
                                    <div class="table-data__tool-left">
                                        <div class="rs-select2--light rs-select2--md">
                                            <div class="dropDownSelect2"></div>
                                        </div>
                                    </div>
                                    <div class="table-data__tool-right">
                                        <button class="au-btn au-btn-icon au-btn--green au-btn--small" data-toggle="modal" data-target="#addreportsModal">
                                            <i class="zmdi zmdi-plus"></i>add report</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row m-t-30">
                            <div class="col-md-12">
                                <!-- DATA TABLE-->
                                <div class="table-responsive m-b-40">
                                <table class="table table-borderless table-data3">
                                    <thead>
                                        <tr>
                                            <th>Report Name</th>
                                            <th>Report Scope</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <form action="reports" method="post">
                                        $if len(reports)==0:
                                            Please configure one...
                                        $else:
                                            <script>
                                                var x = $len(reports);
                                                $for xx in reports:
                                                    $xx
                                                alert("here");
                                            </script>
                                    </form>
                                    </tbody>
                                </table>
                           </div>
                       </div>
                  </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright &copy; 2018. All rights reserved to Simplereports&copy;.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>


 <!-- Add reports modal -->
    <div class="modal fade" id="addreportsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add reports</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form name="reports" id="reports" action="reports" method="post" onfocus="abcd()">
                    <div class="form-group">
                    <label for="scope" class="col-form-label">Scope:</label>
                    $ unames = []
                    $for auser in users:
                        $unames.append({'id':auser['id'], 'name':auser['name']})
                    <select class="col-form-select" name="report_scope" id="scope" onchange="reports_opts($unames)">
                        <option value="select_one" selected="selected">Select one</option>
                        <option value="user">User</option>
                        <option value="group">Group</option>
                    </select>
                        <div>
                            <p id="reports_options">
                        </div>
                    </div>



                    <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" name="new_reports" id="new_reports" class="btn btn-primary">Add reports</button>
                    </div>
                    </form>
                </div>
              </div>
            </div>
    </div>

<script>

    function reports_opts(usr_lst) {
        var x = document.getElementById("scope").value;
        if(x == 'user'){
            var y = get_input_list('Users', usr_lst)
            document.getElementById("reports_options").innerHTML = y+get_input_tag('UserNames', 'param');
            document.getElementById("new_reports").disabled=false;
        }
        if(x == 'group'){
            document.getElementById("reports_options").innerHTML = get_input_tag('Groups', 'param');
            document.getElementById("new_reports").disabled=false;
        }
        if(x == 'select_one'){
            document.getElementById("reports_options").innerHTML = ""
            document.getElementById("new_reports").disabled=true;
        }
    }

</script>
