$def with (args)
    $ server = dict(args['server'])
    $ msg = args['msg']
    $ smtp = dict(args['smtp'])
    $ ver = dict(args['ver'])
    <div class="page-wrapper">
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                        </div>
                        <div class="row m-t-30">
                        <div class="card" style="width: 100%">
                                <div class="card-body">
                                    <form action="settings" method="POST">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general-settings" role="tab" aria-controls="home" aria-selected="true">General</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="server-tab" data-toggle="tab" href="#server-setting" role="tab" aria-controls="profile" aria-selected="false">Server</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="smtp-tab" data-toggle="tab" href="#smtp-settings" role="tab" aria-controls="contact" aria-selected="false">SMTP</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="version-tab" data-toggle="tab" href="#version-settings" role="tab" aria-controls="contact" aria-selected="false">Version Control</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content pl-3 p-1" id="myTabContent">
                                        <div class="tab-pane fade show active" id="general-settings" role="tabpanel" aria-labelledby="general-settings"><br>
                                                <div class="row form-group">
                                                    <div class="col col-md-4">
                                                        <label for="max_file_size" class="form-control-label">Maximum file size to backup:</label>
                                                    </div>
                                                    <div class="col-10 col-md-5">
                                                        <input type="text" id="max_file_size" name='max_file_size' value="$server['max_file_size']" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col col-md-4">
                                                        <label for="split_for_size" class="form-control-label">Do chunking of files if size is above:</label>
                                                    </div>
                                                    <div class="col-10 col-md-5">
                                                        <input type="text" id="split_for_size" name='split_for_size' value="$server['split_for_size']" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col col-md-4">
                                                        <label for="download_for_count" class="form-control-label">Schedule files to offline download if file count is more than:</label>
                                                    </div>
                                                    <div class="col-10 col-md-5">
                                                        <input type="text" id="download_for_count" name='download_for_count' value="$server['download_for_count']" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col col-md-4">
                                                        <label for="download_for_size" class="form-control-label">Schedule files to offline download if total size is more than:</label>
                                                    </div>
                                                    <div class="col-10 col-md-5">
                                                        <input type="text" id="download_for_size" name='download_for_size' value="$server['download_for_size']" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col col-md-4">
                                                        <input type="submit" class="btn btn-success" value="Update">
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="tab-pane fade" id="server-setting" role="tabpanel" aria-labelledby="server-setting"><br>
                                            <div class="row form-group">
                                                <div class="col col-md-4">
                                                    <label for="port" class="form-control-label">Port:</label>
                                                </div>
                                                <div class="col-10 col-md-5">
                                                    <input type="text" id="port" name='port' value="$server['port']" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-4">
                                                    <label for="cache_clean_after" class="form-control-label">Clean cache after:</label>
                                                </div>
                                                <div class="col-10 col-md-5">
                                                    <input type="text" id="cache_clean_after" name='cache_clean_after' value="$server['cache_clean_after']" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                    <div class="col col-md-4">
                                                        <input type="submit" class="btn btn-success" value="Update">
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="smtp-settings" role="tabpanel" aria-labelledby="smtp-settings"><br>
                                                <div class="row form-group">
                                                    <div class="col col-md-4">
                                                        <label for="smtp_hostname" class="form-control-label">Hostname:</label>
                                                    </div>
                                                    <div class="col-10 col-md-5">
                                                        <input type="text" id="smtp_hostname" name='smtp_hostname' value="$smtp['hostname']" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col col-md-4">
                                                        <label for="smtp_port" class="form-control-label">Port:</label>
                                                    </div>
                                                    <div class="col-10 col-md-5">
                                                        <input type="text" id="smtp_port" name='smtp_port' value="$smtp['port']" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col col-md-4">
                                                        <label for="smtp_email" class="form-control-label">Email:</label>
                                                    </div>
                                                    <div class="col-10 col-md-5">
                                                        <input type="text" id="smtp_email" name='smtp_email' value="$smtp['email']" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col col-md-4">
                                                        <label for="smtp_pwd" class="form-control-label">Password:</label>
                                                    </div>
                                                    <div class="col-10 col-md-5">
                                                        <input type="password" id="smtp_pwd" name='smtp_pwd' value="$smtp['password']" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col col-md-4">
                                                        <label for="smtp_tls" class="form-control-label">TLS:</label>
                                                    </div>
                                                    <div class="col-10 col-md-1">
                                                        <input type="checkbox" id="smtp_tls" name='smtp_tls' class="form-control">
                                                        <script>
                                                            if("$smtp['tls']" == "True"){
                                                                document.getElementById("smtp_tls").checked = true;
                                                            }
                                                        </script>

                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                        <div class="col col-md-4">
                                                            <input type="submit" class="btn btn-success" value="Update">
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="tab-pane fade" id="version-settings" role="tabpanel" aria-labelledby="version-settings"><br>
                                            <div class="row form-group">
                                                <div class="col col-md-4">
                                                    <label for="min_ver" class="form-control-label">Minimum versions to be kept:</label>
                                                </div>
                                                <div class="col-10 col-md-5">
                                                    <input type="text" id="min_ver" name='min_ver' value="$ver['max_allowed_versions']" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-4">
                                                    <label for="ver_clean_wake_time" class="form-control-label">Version cleaner wake time (hours):</label>
                                                </div>
                                                <div class="col-10 col-md-5">
                                                    <input type="text" id="ver_clean_wake_time" name='ver_clean_wake_time' value="$ver['version_clean_interval']" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                    <div class="col col-md-4">
                                                        <input type="submit" class="btn btn-success" value="Update">
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="copyright">
                                <p><font color="red">$msg</font></p>
                                <p>Copyright &copy; 2018. All rights reserved to SimpleBackup&copy;.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>