				<nav class="navbar-sidebar ">
                    <ul class="list-unstyled navbar__list">
                        <li>
                            <a href="/filelist//">Home</a>
                        </li>
                        <li>
                            <a href="/backupcli">Backup</a>
                        </li>
                        <li>
                            <a href="/upload">Upload Files</a>
                        </li>
                        <li>
                            <a href="/download/list">Scheduled Downloads</a>
                        </li>
                        <li class="has-sub">
                            <li class="active">
                                <a class="js-arrow" href="#">
                                    Shortcuts</a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    $for shct in shortcuts:
                                        <li><a href="/filelist//">$shct</a></li>
                                </ul>
                            </li>
                    </ul>
                </nav>