$def with (devices, backup)
    <script>
    function do_browse(dev_name) {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          document.getElementById("top_levele").innerHTML =
          this.responseText;
        }
      };
      xhttp.open("GET", dev_name, true);
      xhttp.send();
    }
    </script>

    <div class="page-wrapper" id="top_levele">
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>
                    <div class="row m-t-30">
                        <div class="col-md-12">
                            <!-- DATA TABLE-->
                            <div class="table-responsive m-b-40">
                            <table class="table table-borderless table-data3">
                                <thead>
                                $if (devices is None) and (backup is None):
                                    <tr><th>No Devices registred yet.</th><th>Download agent and install</th><th>&nbsp;</th></tr>
                                $else:
                                    $if devices is not None:
                                        <tr><th>Devices</th><th>Used Space</th><th>Actions</th></tr>
                                    $else:
                                        $if backup is None:
                                            <tr><th>No Devices registred yet.</th><th>Download agent and install</th><th>&nbsp;</th></tr>
                                        $else:
                                            <tr><th width=""84%">Backup Location</th><th width="10%">&nbsp;</th><th width="10%">Action</th></tr>
                                </thead>
                                <tbody>
                                $if devices is not None:
                                    $for dev in devices:
                                        <tr>
                                        <td>
                                            $devices[dev]['name']
                                        </td>
                                        <td>
                                            $devices[dev]['size']
                                        </td>
                                        <td><button  class="btn btn-primary btn-sm" onclick="do_browse('/filelist/DEVICE_ROOT_$dev')">Browse...</button></td>
                                        </tr>
                                $if backup is not None:
                                    $for bkp in backup:
                                        <tr>
                                            <td>
                                                $backup[bkp].get('settings',{}).get('folder')
                                            </td>
                                            <td>
                                                <form method="get" action="/download//download/D%3A/Data">
                                                <button class="btn btn-secondary btn-sm"  type="submit">Download</button>
                                                </form>
                                            <td>
                                                <form method="get" action="/filelist//$backup[bkp].get('settings',{}).get('folder')">
                                                <button class="btn btn-primary btn-sm" onclick= type="submit">Browse...</button>
                                                </form>
                                            </td>
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright &copy; 2018. All rights reserved to SimpleBackup&copy;.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>