<style>

h10 {
}

h1 {
    color: red;
    font-family: verdana;
    font-size: 160%;
	margin: 50px;
}
/*
p {
    #border: 1px solid powderblue;
    padding: 10px;
    color: blue;
    font-family: verdana;
    font-size: 160%;
	margin: 10px;
}
li {
    color: white;
    font-family: verdana;
    font-size: 100%;
	margin: 1px;
	padding: 1px;
}*/

p .error {
    color: red;
}

.breadcrumb {
    color: yellow;
    font-family: verdana;
    font-size: 100%;
	margin: 10px;
}

ul li .left {
    margin-right: 100px;
    height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    #overflow: hidden;
}
ul li .right {
    float: right;
    width: 200px;
    background-color: #ccc;
}
.left{
    width: 150px;
    height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: #ccc
    background-color: #ccc
}

.right{
    margin-left: 150px;
    background-color: #ccc;
}

/*.button{
    border: white
    width: 100px
    background-color: white
}*/

input .mtext{
    border: red
    width: 100px
    color: red
    background: white
}

.input{
    border: white
    width: 100px
    background-color: white
}

body {background-color:lightgrey}
</style>